<%- include('header') -%>

<h1>Signup for free iPhone!</h1>

<form method="post" action="/">
  <div class="field<%= locals.isInvalid('name', errors) ?  ' field--invalid' : '' %>">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value="<%= name %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('email', errors) ?  ' field--invalid' : '' %>">
    <label for="email">email</label>
    <input type="text" name="email" id="email" value="<%= email %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('phone', errors) ?  ' field--invalid' : '' %>">
    <label for="phone">Phone number</label>
    <input type="text" name="phone" id="phone" value="<%= phone %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('text', errors) ?  ' field--invalid' : '' %>">
    <label for="text">About you</label>
    <textarea name="text" id="text"><%= text %></textarea>
  </div>

  <% if (errors.length > 0) { %>
    <h2>Trouble Signing up</h2>
    <ul class="errors">
      <% errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  <button>Signup</button>
</form>

<%- include('footer') -%>
